{% extends ':inventory:base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        SKU
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Available
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                    <tr>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.price }} {{ item.currency }}</td>
                        <td>{% if item.isAvailable %}yes{% else %}no{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 text-right"><strong>Total count: {{ totalCount }}</strong></div>
        </div>
    </div>
{% endblock %}
